In [1]:
import pandas as pd
import numpy as np

In [2]:
df  = pd.read_csv("dataOne.csv")
df.head()

  day   outlook temperature humidity    wind play
0  D1     sunny         hot     high    weak   no
1  D2     sunny         hot     high  strong   no
2  D3  overcast         hot     high    weak  yes
3  D4      rain        mild     high    weak  yes
4  D5      rain        cold   normal    weak  yes

In [67]:
import math

def entropy(data, column, value):
    
    data = data[data[column] == value]
    total = data.shape[0]
    frequency = dict(data['play'].value_counts())
    
    entropy = 0
    for key in frequency:
        frequency[key] = round(float(frequency[key]/total),4)
        entropy+= (-1)*frequency[key]*math.log(frequency[key],2)
    
    return round(entropy,5)



def information_gain()

In [68]:
entropy(df, "outlook","sunny")

0.97095

    day outlook temperature humidity    wind play
0    D1   sunny         hot     high    weak   no
1    D2   sunny         hot     high  strong   no
7    D8   sunny        mild     high    weak   no
8    D9   sunny        cold   normal    weak  yes
10  D11   sunny        mild   normal  strong  yes